In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect(':memory:')

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [3]:
data = pd.read_csv('boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
data.to_sql('boston', con, index=False, if_exists='replace')

506

In [5]:
pd.read_sql(
    '''
    SELECT * FROM boston
    ORDER BY MEDV
    ''',
    con,
)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,38.35180,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59,5.0
1,67.92080,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
2,25.04610,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
3,9.91655,0.0,18.1,0.0,0.693,5.852,77.8,1.5004,24.0,666.0,20.2,338.16,29.97,6.3
4,45.74610,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,4.89822,0.0,18.1,0.0,0.631,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26,50.0
502,5.66998,0.0,18.1,1.0,0.631,6.683,96.8,1.3567,24.0,666.0,20.2,375.33,3.73,50.0
503,6.53876,0.0,18.1,1.0,0.631,7.016,97.5,1.2024,24.0,666.0,20.2,392.05,2.96,50.0
504,9.23230,0.0,18.1,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53,50.0
505,8.26725,0.0,18.1,1.0,0.668,5.875,89.6,1.1296,24.0,666.0,20.2,347.88,8.88,50.0

In [6]:
tasks = 0

### –í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql

1. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [7]:
# –§—É–Ω–∫—Ü–∏—è COUNT –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–µ —Ä–∞–≤–Ω—ã—Ö NULL. 
# –ó–Ω–∞—á–∏—Ç, –º–æ–∂–Ω–æ –æ—Ç–Ω—è—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –æ—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫
tasks+=1
pd.read_sql(
    '''
    SELECT 
        COUNT(*) - COUNT(CRIM) AS CRIM, 
        COUNT(*) - COUNT(ZN) AS ZN, 
        COUNT(*) - COUNT(INDUS) AS INDUS, 
        COUNT(*) - COUNT(CHAS) AS CHAS, 
        COUNT(*) - COUNT(NOX) AS NOX
    FROM boston
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0     0   0      0     0    0

2. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–æ–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [8]:
tasks+=1
pd.read_sql(
    '''
    SELECT 
        COUNT(DISTINCT CRIM)  AS CRIM,
        COUNT(DISTINCT ZN) AS ZN,
        COUNT(DISTINCT INDUS) AS INDUS,
        COUNT(DISTINCT CHAS) AS CHAS,
        COUNT(DISTINCT NOX) AS NOX
    FROM boston;
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0   504  26     76     2   81

3. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX.
–ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ –¥–∞–Ω–Ω—ã–º –≤ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö

In [9]:
# –í–µ—Ä–æ—è—Ç–Ω–æ, –∑–¥–µ—Å—å –µ—Å—Ç—å –±–æ–ª–µ–µ –ø—Ä–æ—Å—Ç–æ–µ —Ä–µ—à–µ–Ω–∏–µ, 
# –Ω–æ —è –µ–≥–æ –Ω–µ –Ω–∞—à–µ–ª –∑–∞ –¥–≤–µ –Ω–µ–¥–µ–ª–∏, 
# –ø–æ—ç—Ç–æ–º—É –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é —Ç–æ, —á—Ç–æ —Å–º–æ–≥ —Ä–æ–¥–∏—Ç—å
tasks+=1
pd.read_sql(
    """
    SELECT g.MEAN_CRIM, g.MEAN_ZN, g.MEAN_INDUS, g.MEAN_CHAS, h.MEAN_NOX FROM
        (SELECT e.MEAN_CRIM, e.MEAN_ZN, e.MEAN_INDUS, f.MEAN_CHAS, e.id FROM
            (SELECT c.MEAN_CRIM, c.MEAN_ZN, d.MEAN_INDUS, c.id AS id FROM
                (SELECT a.MEAN_CRIM AS MEAN_CRIM, b.MEAN_ZN AS MEAN_ZN, a.id AS id FROM
                    (SELECT SUM(CRIM) / 2 AS MEAN_CRIM, id FROM (SELECT CRIM, ROW_NUMBER() OVER (ORDER BY CRIM) AS id FROM boston LIMIT 253, 2)) a
                    LEFT JOIN
                    (SELECT SUM(ZN) / 2 AS MEAN_ZN, id FROM (SELECT ZN, ROW_NUMBER() OVER (ORDER BY ZN) AS id FROM boston LIMIT 253, 2)) b
                    ON a.id = b.id) c
            LEFT JOIN
            (SELECT SUM(INDUS) / 2 AS MEAN_INDUS, id FROM (SELECT INDUS, ROW_NUMBER() OVER (ORDER BY INDUS) AS id FROM boston LIMIT 253, 2)) d
            ON c.id = d.id) e
        LEFT JOIN
        (SELECT SUM(CHAS) / 2 AS MEAN_CHAS, id FROM (SELECT CHAS, ROW_NUMBER() OVER (ORDER BY CHAS) AS id FROM boston LIMIT 253, 2)) f
        ON e.id = f.id) g
    LEFT JOIN
    (SELECT SUM(NOX) / 2 AS MEAN_NOX, id FROM (SELECT NOX, ROW_NUMBER() OVER (ORDER BY NOX) AS id FROM boston LIMIT 253, 2)) h
    ON g.id = h.id
    """,
    con,
)

   MEAN_CRIM  MEAN_ZN  MEAN_INDUS  MEAN_CHAS  MEAN_NOX
0    0.26042      0.0        9.69        0.0     0.538

–û—á–µ–≤–∏–¥–Ω–æ, —á—Ç–æ –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —É –∫–æ–ª–æ–Ω–æ–∫ MEAN_ZN –∏ MEAN_CHAS

ZN - –¥–æ–ª—è –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–∞ –ø–æ–¥ —É—á–∞—Å—Ç–∫–∏ –ø–ª–æ—â–∞–¥—å—é –±–æ–ª–µ–µ 25 000 –∫–≤. —Ñ—É—Ç–æ–≤.
CHAS - 1, –µ—Å–ª–∏ –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π, 0 –∏–Ω–∞—á–µ

–ï—Å–ª–∏ –≤—ã–≤–µ—Å—Ç–∏ —Ç–æ–ª—å–∫–æ –Ω–∞–∑–≤–∞–Ω–∏—è —ç—Ç–∏—Ö –ø–æ–ª–µ–π, —Ç–æ –Ω–µ –±—É–¥–µ—Ç –ø–æ–Ω—è—Ç–Ω–æ, –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –¥–µ–ª–∞—Ç—å, –∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥:
- –±–æ–ª–µ–µ –ø–æ–ª–æ–≤–∏–Ω—ã –≤—Å–µ—Ö –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –ø–æ –ø–ª–æ—â–∞–¥–∏ –º–µ–Ω–µ–µ 25000 –∫–≤. —Ñ—É—Ç–æ–≤
- –±–æ–ª–µ–µ –ø–æ–ª–æ–≤–∏–Ω—ã –∑–µ–º–µ–ª—å –Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π

4. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∫–æ–º–Ω–∞—Ç(RM) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é(MEDV) –∏ 25 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. 
–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –ø–æ 50, 100, 200, 300 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. (–∫–æ–ª-–≤–æ –¥–æ–º–æ–≤(25,50,100,200,300), —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –Ω–∏—Ö, —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö, —Ä–∞–∑–Ω–∏—Ü–∞).
–ù–∞–ø–∏—à–∏—Ç–µ –≤–ª–∏—è–µ—Ç –ª–∏ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∏ –∫–∞–∫ —Å–∏–ª—å–Ω–æ.

In [10]:
tasks+=1
pd.read_sql(
    """
    with rooms as (
    SELECT 
            row_number() OVER () AS CHEAP_HOUSES_COUNT, 
            AVG(a.RM) OVER (ORDER BY MEDV ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS AVG_RM_CHEAP,
            b.AVG_RM_EXP,
            b.AVG_RM_EXP - AVG(a.RM) OVER (ORDER BY MEDV ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS DIFF
        FROM boston a
        LEFT JOIN
        (SELECT DISTINCT AVG(RM) OVER(PARTITION BY MEDV) AS AVG_RM_EXP FROM boston WHERE MEDV = 50) b
    ) 
    select * from rooms where CHEAP_HOUSES_COUNT = 25
    union all
    select * from rooms where CHEAP_HOUSES_COUNT = 50
    union all
    select * from rooms where CHEAP_HOUSES_COUNT = 100
    union all
    select * from rooms where CHEAP_HOUSES_COUNT = 200
    union all
    select * from rooms where CHEAP_HOUSES_COUNT = 300
    """,
    con,
)

   CHEAP_HOUSES_COUNT  AVG_RM_CHEAP  AVG_RM_EXP      DIFF
0                  25      5.747840       7.484  1.736160
1                  50      5.753240       7.484  1.730760
2                 100      5.887120       7.484  1.596880
3                 200      5.911705       7.484  1.572295
4                 300      5.972227       7.484  1.511773

5. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–Ω–≥–∏ –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ–ª–æ–Ω–∫–∏ LSTAT(–ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é (–∑–Ω–∞—á–µ–Ω–∏–µ LSTAT, —Å—Ç–æ–∏–º–æ—Å—Ç—å, —Ä–∞–Ω–≥) —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∑–Ω–∞—á–µ–Ω–∏–π LSTAT. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [11]:
tasks+=1
pd.read_sql(
    '''
    SELECT LSTAT, MEDV, rank_by_medv FROM
        (SELECT 
            LSTAT, 
            MEDV, 
            rank() OVER (PARTITION BY MEDV ORDER BY LSTAT) rank_by_medv, 
            MAX(MEDV) OVER() AS MAX_MEDV
        FROM boston)
    WHERE MEDV = MAX_MEDV
    ''',
    con,
)

    LSTAT  MEDV  rank_by_medv
0    1.73  50.0             1
1    1.92  50.0             2
2    2.88  50.0             3
3    2.96  50.0             4
4    2.97  50.0             5
5    3.16  50.0             6
6    3.26  50.0             7
7    3.32  50.0             8
8    3.70  50.0             9
9    3.73  50.0            10
10   4.45  50.0            11
11   4.63  50.0            12
12   5.12  50.0            13
13   7.44  50.0            14
14   8.88  50.0            15
15   9.53  50.0            16

–í—ã–≤–æ–¥: –í –¥–æ—Ä–æ–≥–∏—Ö –¥–æ–º–∞—Ö –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –Ω–µ –±–æ–ª–µ–µ 10% –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º

6. –í—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≥—Ä–∞–Ω–∏—á–∞—â–∏—Ö —Å —Ä–µ–∫–æ–π(CHAS) –∏ –Ω–µ—Ç (–≥—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç, —Å—Ç–æ–∏–º–æ—Å—Ç—å)

In [12]:
tasks+=1
pd.read_sql(
    '''
    SELECT DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", AVG(MEDV) OVER(PARTITION BY CHAS) AS "–°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å" 
    FROM boston
    ''',
    con,
)

   –ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç  –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å
0                   0.0          22.093843
1                   1.0          28.440000

7. –í—ã–≤–µ–¥–∏—Ç–µ –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—à–µ, –∫–æ–≥–¥–∞ –¥–æ–º –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [13]:
# –í–µ—Ä–æ—è—Ç–Ω–æ, –∑–¥–µ—Å—å –µ—Å—Ç—å –±–æ–ª–µ–µ –ø—Ä–æ—Å—Ç–æ–µ —Ä–µ—à–µ–Ω–∏–µ, 
# –Ω–æ —è –µ–≥–æ –Ω–µ –Ω–∞—à–µ–ª –∑–∞ –¥–≤–µ –Ω–µ–¥–µ–ª–∏, 
# –ø–æ—ç—Ç–æ–º—É –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é —Ç–æ, —á—Ç–æ —Å–º–æ–≥ —Ä–æ–¥–∏—Ç—å
tasks+=1
pd.read_sql(
    '''
    SELECT g.AVG_NOX, g.AVG_CRIM, g.AVG_ZN, g.AVG_INDUS, h.AVG_CHAS FROM
        (SELECT e."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", e.AVG_NOX, e.AVG_CRIM, e.AVG_ZN, f.AVG_INDUS FROM
            (SELECT c."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", c.AVG_NOX, c.AVG_CRIM, d.AVG_ZN FROM
                (SELECT a."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", a.AVG_NOX, b.AVG_CRIM FROM
                    (SELECT * FROM
                        (SELECT *, MAX(AVG_NOX) OVER() AS MAX_AVG_NOX FROM
                            (SELECT 
                                DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", 
                                AVG(NOX) OVER(PARTITION BY CHAS) AS AVG_NOX 
                            FROM boston))
                    WHERE AVG_NOX = MAX_AVG_NOX AND "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = 1) a
                    LEFT JOIN
                    (SELECT * FROM
                        (SELECT *, MAX(AVG_CRIM) OVER() AS MAX_AVG_CRIM FROM
                            (SELECT 
                                DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", 
                                AVG(CRIM) OVER(PARTITION BY CHAS) AS AVG_CRIM 
                            FROM boston))
                    WHERE AVG_CRIM = MAX_AVG_CRIM AND "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = 1) b
                ON a."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = b."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç") c
            LEFT JOIN
                (SELECT * FROM
                    (SELECT *, MAX(AVG_ZN) OVER() AS MAX_AVG_ZN FROM
                        (SELECT 
                            DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", 
                            AVG(ZN) OVER(PARTITION BY CHAS) AS AVG_ZN 
                        FROM boston))
                WHERE AVG_ZN = MAX_AVG_ZN AND "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = 1) d
            ON c."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = d."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç") e
        LEFT JOIN
            (SELECT * FROM
                (SELECT *, MAX(AVG_INDUS) OVER() AS MAX_AVG_INDUS FROM
                    (SELECT 
                        DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", 
                        AVG(INDUS) OVER(PARTITION BY CHAS) AS AVG_INDUS 
                    FROM boston))
            WHERE AVG_INDUS = MAX_AVG_INDUS AND "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = 1) f
        ON e."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = f."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç") g
    LEFT JOIN
        (SELECT * FROM
            (SELECT *, MAX(AVG_CHAS) OVER() AS MAX_AVG_CHAS FROM
                (SELECT 
                    DISTINCT CHAS AS "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç", 
                    AVG(CHAS) OVER(PARTITION BY CHAS) AS AVG_CHAS 
                FROM boston))
            WHERE AVG_CHAS = MAX_AVG_CHAS AND "–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = 1) h
    ON g."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç" = h."–ì—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç"
    ''',
    con,
)

    AVG_NOX AVG_CRIM AVG_ZN  AVG_INDUS  AVG_CHAS
0  0.593426     None   None  12.719143       1.0

–í—ã–≤–æ–¥:
- —Ä—è–¥–æ–º —Å —Ä–µ–∫–æ–π –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–∞ –æ–∑–æ—Ç–∞ –≤—ã—à–µ
- —É—Ä–æ–≤–µ–Ω—å –ø—Ä–µ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –Ω–∞ –¥—É—à—É –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Ä—è–¥–æ–º —Å —Ä–µ–∫–æ–π –º–µ–Ω—å—à–µ
- –¥–æ–ª—è –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥ —Ä—è–¥–æ–º —Å —Ä–µ–∫–æ–π –≤—ã—à–µ
- —Ä—è–¥–æ–º —Å —Ä–µ–∫–æ–π –º–µ–Ω—å—à–µ –∑–µ–º–µ–ª—å –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–æ –ø–æ–¥ –±–æ–ª—å—à–∏–µ —É—á–∞—Å—Ç–∫–∏ (–±–æ–ª–µ–µ 25000 –∫–≤. —Ñ—É—Ç–æ–≤), —á–µ–º –≤–¥–∞–ª–∏ –æ—Ç —Ä–µ–∫–∏
- –ø—Ä–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å chas –Ω–∏—á–µ–≥–æ –Ω–µ–ª—å–∑—è —Å–∫–∞–∑–∞—Ç—å - –ø–æ–Ω—è—Ç–Ω–æ, —á—Ç–æ 1 > 0

CRIM - —É—Ä–æ–≤–µ–Ω—å –ø—Ä–µ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –Ω–∞ –¥—É—à—É –Ω–∞—Å–µ–ª–µ–Ω–∏—è
ZN - –¥–æ–ª—è –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–∞ –ø–æ–¥ —É—á–∞—Å—Ç–∫–∏ –ø–ª–æ—â–∞–¥—å—é –±–æ–ª–µ–µ 25 000 –∫–≤. —Ñ—É—Ç–æ–≤.
INDUS - –¥–æ–ª—è –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥.
CHAS - 1, –µ—Å–ª–∏ –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π, 0 –∏–Ω–∞—á–µ
NOX - –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ (—á–∞—Å—Ç–µ–π –Ω–∞ 10 –º–∏–ª–ª–∏–æ–Ω–æ–≤)
RM - —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –∫–≤–∞—Ä—Ç–∏—Ä–µ
AGE - –¥–æ–ª—è –∂–∏–ª—ã—Ö –¥–æ–º–æ–≤, –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω—ã—Ö –¥–æ 1940 –≥.
DIS - –≤–∑–≤–µ—à–µ–Ω–Ω—ã–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è –¥–æ –ø—è—Ç–∏ —Ü–µ–Ω—Ç—Ä–æ–≤ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –ë–æ—Å—Ç–æ–Ω–∞
RAD - –∏–Ω–¥–µ–∫—Å –¥–æ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –∫ —Ä–∞–¥–∏–∞–ª—å–Ω—ã–º –º–∞–≥–∏—Å—Ç—Ä–∞–ª—è–º
TAX - –ø–æ–ª–Ω–∞—è —Å—Ç–∞–≤–∫–∞ –Ω–∞–ª–æ–≥–∞ –Ω–∞ –∏–º—É—â–µ—Å—Ç–≤–æ –∑–∞ 10 000 –¥–æ–ª–ª–∞—Ä–æ–≤ –°–®–ê
PTRATIO - —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ —É—á–µ–Ω–∏–∫–æ–≤ –∏ —É—á–∏—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
B - 1000(Bk - 0.63)^2, –≥–¥–µ Bk –¥–æ–ª—è —á–µ—Ä–Ω–æ–∫–æ–∂–∏—Ö –ª—é–¥–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
LSTAT - % –±–æ–ª–µ–µ –Ω–∏–∑–∫–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –Ω–∞—Å–µ–ª–µ–Ω–∏—è
MEDV - –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≤ 1000 –¥–æ–ª–ª–∞—Ä–æ–≤.

8. –í—ã–≤–µ–¥–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–µ–π –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏(INDUS), –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞(NOX) –∏ –ø–æ –∏—Ö –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—è–º - 10, 20 ... 100 ( –ø–µ—Ä—Ü–µ—Ç–∏–ª—å(10,20...100),–∑–Ω–∞—á–µ–Ω–∏–µ INDUS, –∑–Ω–∞—á–µ–Ω–∏–µ NOX). –ù–∞–ø–∏—à–∏—Ç–µ –ø—Ä–æ—Å–ª–µ–∂–∏–≤–∞–µ—Ç—Å—è –º–µ–∂–¥—É –Ω–∏–º–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å

In [14]:

tasks+=1
pd.read_sql(
    '''
    SELECT a.PERCENTS, a.NOX, b.INDUS FROM
        (SELECT * FROM
            (SELECT *, ROW_NUMBER() OVER(PARTITION BY PERCENTS) AS R_NUM FROM
                    (SELECT *, CAST(COUNT*100/CAST(TOTAL AS FLOAT) AS INT) AS PERCENTS FROM
                        (SELECT NOX, ROW_NUMBER() OVER (ORDER BY NOX) AS COUNT, COUNT() OVER() AS TOTAL FROM boston)
                    WHERE PERCENTS % 10 = 0))
        WHERE R_NUM = 1) a
    LEFT JOIN
        (SELECT * FROM
            (SELECT *, ROW_NUMBER() OVER(PARTITION BY PERCENTS) AS R_NUM FROM
                    (SELECT *, CAST(COUNT*100/CAST(TOTAL AS FLOAT) AS INT) AS PERCENTS FROM
                        (SELECT INDUS, ROW_NUMBER() OVER (ORDER BY INDUS) AS COUNT, COUNT() OVER() AS TOTAL FROM boston)
                    WHERE PERCENTS % 10 = 0))
        WHERE R_NUM = 1) b
    ON a.PERCENTS = b.PERCENTS
    ''',
    con,
)

    PERCENTS    NOX  INDUS
0          0  0.385   0.46
1         10  0.426   2.89
2         20  0.442   4.39
3         30  0.472   5.96
4         40  0.507   7.38
5         50  0.538   9.69
6         60  0.575  12.83
7         70  0.605  18.10
8         80  0.668  18.10
9         90  0.713  19.58
10       100  0.871  27.74

–í–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É "–¥–æ–ª–µ–π –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥" –∏ "–∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ (—á–∞—Å—Ç–µ–π –Ω–∞ 10 –º–∏–ª–ª–∏–æ–Ω–æ–≤)" –Ω–µ –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è

In [15]:
if tasks==8:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')

–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ